@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.me {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: black;
}

.timeline {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; 
  position: relative;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #6c63ff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0; 
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  float: left; 
  clear: both; 
}

.timeline-item:nth-child(even) {
  margin-left: 50%; 
}

.timeline-item:nth-child(even)::before {
  right: -17px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
